header {
  background: orange;
  padding: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
}

#box1 {
  background-color: chartreuse;
  height: 400px;
  width: 400px;
}

section {
  height: 300px;
  width: 300px;
  background-color: lightblue;
}