header {
  background: orange;
  padding: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* #box1 {
  background-color: chartreuse;
  height: 50%;
  width: 50%;
  text-align: center;
} */

article {
  background-color: aqua;


  
}